GOOGLE_CLOUD_PROJECT=terpedia-489015
CLAIMS_DATASET=terpedia_core
CLAIMS_TABLE=REPLACE_WITH_CLAIMS_TABLE
PROTEIN_TABLE=terpedia_raw.sair_protein_terpene_interactions
STRUCTURE_TABLE=terpedia_raw.sair_structures
IDENTIFIER_MAP_TABLE=terpedia_core.chemical_identifier_map

